* {
    padding: 10px;
    margin: 0 auto;
    background-color: whitesmoke;
    color: #5566C8;
    text-align: center;
}

body {
    min-width: 20%;
}

header {
    font-size: 2em;
    font-weight: bold;
    border: #5566C8 3px solid;
}

menu {
    border: #5566C8 2px solid;
    margin-top: 0.5%;
    flex-direction: row;
    display: flexbox;
}

menu li{
    display: inline-block;
}

table {
    margin-top: 10px !important;
    border: #5566C8 2px solid;
    width: 50%;
}

td {
    width: 50%;
}

input::file-selector-button { /*"Tallózás" gomb elrejtése*/
    display: none;
}

input[type="file"] {
    display: none;
}

input[type="password"]::-ms-reveal, /*A jelszó megjelenítő szem elrejtése*/
input[type="password"]::-ms-clear {
    display: none;
}