* {
    padding: 10px;
    margin: 0 auto;
    background-color: whitesmoke;
    color: #5566C8;
    text-align: center;
    font-size: 1.1rem;
}

body {
    min-width: fit-content;
}

h1 {
    font-size: 2.3rem;
}

h3 {
    font-size: 1.8rem;
}

header {
    font-size: 1.2rem;
    font-weight: bold;
    border: #5566C8 3px solid;
    box-sizing: border-box;
}

menu {
    border: #5566C8 2px solid;
    margin-top: 0.5%;
    flex-direction: row;
    display: flex;
}

menu div {
    border: 0 !important;
    margin: 0;
    padding: 0;
}

menu div li {
    display: inline-flex;
    font-size: 1.3rem;
    margin-right: auto;
}

.rightMenu {
    margin-left: auto;
    text-align: center;
}

.rightMenu li {
    background-color: #5566C8 !important;
    border: whitesmoke 1px solid;
}

.rightMenu li a {
    color: whitesmoke !important;
    background-color: #5566C8 !important;
}

a {
    text-decoration: underline 1px;
}

table {
    margin-top: 10px !important;
    border: #5566C8 2px solid;
    width: 100%;
    box-sizing: border-box;
}

td {
    width: 50%;
}

input[type="file"] {
    display: none;
}

input[type="password"]::-ms-reveal,
/*A jelszó megjelenítő szem elrejtése*/
input[type="password"]::-ms-clear {
    display: none;
}