td {
    width: 33% !important;
    border: #5566C8 2px solid;
    border-radius: 10px;
    box-sizing: border-box;
}

td input {
    width: 100% !important;
    border: 0px;
    outline: none;
    box-sizing: border-box;
    height: fit-content;
    display: block;
}

td span {
    display: block;
    width: 100% !important;
    box-sizing: border-box;
}

#fileSelector {
    width: 100% !important;
    user-select: none;
    box-sizing: border-box;
    display: block;
}

/*Nyilak törlése az input:number-ből*/
input[type="number"] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.check-cell input[type="checkbox"] {
    display: none;
}

.check-cell span {
    cursor: pointer;
    user-select: none;
}

.check-cell input[type="checkbox"]:checked+span {
    color: green !important;
}

.check-cell input[type="checkbox"]:not(:checked)+span {
    color: red !important;
}