.active {
    color: whitesmoke !important;
    background-color: #5566C8 !important;
}

td {
    width: 50% !important;
    box-sizing: border-box;
}

input, span {
    width: 100%;
    padding: 5px !important;
    box-sizing: border-box;
    border: #5566C8 1px solid;
    border-radius: 5px;
    font-size: 1rem;
}

span {
    display: block;
}

#reg:hover, #log:hover {
    background-color: #5566C8 !important;
    color: whitesmoke !important;
    cursor: pointer;
}

